# Create Building Score Feature Space
#### Daniel Fay

#### Input:
* Police Dispatch
* Foreclosures
* Owner
* complaint data  


* Tenant Count
* Utility backpay

In [5]:
import pandas as pd
import geopandas as gpd

In [6]:
foreclosures = gpd.read_file('../Data/processed/shapefiles/FC_count.shp')
police = gpd.read_file('../Data/processed/shapefiles/PD_count.shp')
complaints = gpd.read_file('../Data/processed/shapefiles/complaint_count.shp')
owners = gpd.read_file('../Data/Master_Building/CH_Only_Clip.shp')

In [7]:
addresses = []
for ix,row in owners.iterrows():
    address = str(row['parcel_add'])[:-7]
    addresses.append(address)

owners['parcel_add'] = addresses
owners.head()

,PARCELPIN,PARCEL_ID,building_t,geometry,gross_tax,land_tax,land_use,last_sale,owner,parcel_add,parcel_cit,propcode,sale_amoun,seller,sold_date,tax_year,tot_com_sq,tot_res_sq,total_sqft,vacant
0,68104092,68104092,60400.0,POLYGON ((-81.56532396435152 41.53334577574375...,11400.0,71800.0,5100,2009-05,"HUGHES, GERALYNNE","2090 TAYLOR RD, CLEVELAND HEIGHTS, OH",CLEVELAND HEIGHTS,R,0.0,FEDERAL HOME LOAN MORTGAGE CORPORATION,2009-05-05T11:27:00.000Z,2016.0,0.0,1274.0,4745.0,0.0
1,68401004,68401004,61800.0,"POLYGON ((-81.5806817475017 41.51499576065242,...",12900.0,74700.0,5200,2013-12,HALO INVESTMENTS LLC,"1626 COVENTRY RD, CLEVELAND HEIGHTS, OH",CLEVELAND HEIGHTS,R,0.0,C-2000 INC,2013-12-12T15:45:00.000Z,2016.0,0.0,3569.0,7500.0,0.0
2,68112053,68112053,0.0,POLYGON ((-81.56557165053658 41.53004719302985...,2700.0,2700.0,5000,2007-11,"NATIONAL CITY BANK, TRUSTEE","0 OAKHILL RD, CLEVELAND HEIGHTS, OH",CLEVELAND HEIGHTS,R,0.0,Gibian Germaine L,2007-11-27T11:51:00.000Z,2016.0,0.0,0.0,2610.0,1.0
3,68401001,68401001,63600.0,POLYGON ((-81.58082800580637 41.51538821948967...,9300.0,72900.0,5100,2008-02,1612 Coventry LLC,"1612 COVENTRY RD, CLEVELAND HEIGHTS, OH",CLEVELAND HEIGHTS,R,70000.0,1612 Coventry LLC,2008-02-15T00:00:00.000Z,2016.0,0.0,1402.0,3811.0,0.0
4,68221049,68221049,85700.0,POLYGON ((-81.53542516876514 41.53305654011595...,19300.0,105000.0,5100,1990-11,"GHOLSON, LLOYD W.","1025 RENFIELD RD, CLEVELAND HEIGHTS, OH",CLEVELAND HEIGHTS,R,73300.0,Gary D Geldart,1990-11-27T00:00:00.000Z,2016.0,0.0,2379.0,9000.0,0.0

### Foreclosures

In [8]:
foreclosures = foreclosures[['PPN', 'Count']]
foreclosures.columns = ['PPN', 'FC_count']

In [9]:
owners.PARCELPIN = owners.PARCELPIN.astype(str)
foreclosures.PPN = foreclosures.PPN.astype(str)

In [10]:
len(owners)

16462

In [11]:
featureSpace = pd.merge(owners, foreclosures, how='left', left_on='PARCELPIN', right_on='PPN')

In [12]:
len(featureSpace)

16462

In [13]:
featureSpace.drop(['PPN'], axis=1, inplace=True)
featureSpace.head()

,PARCELPIN,PARCEL_ID,building_t,geometry,gross_tax,land_tax,land_use,last_sale,owner,parcel_add,...,propcode,sale_amoun,seller,sold_date,tax_year,tot_com_sq,tot_res_sq,total_sqft,vacant,FC_count
0,68104092,68104092,60400.0,POLYGON ((-81.56532396435152 41.53334577574375...,11400.0,71800.0,5100,2009-05,"HUGHES, GERALYNNE","2090 TAYLOR RD, CLEVELAND HEIGHTS, OH",...,R,0.0,FEDERAL HOME LOAN MORTGAGE CORPORATION,2009-05-05T11:27:00.000Z,2016.0,0.0,1274.0,4745.0,0.0,2.0
1,68401004,68401004,61800.0,"POLYGON ((-81.5806817475017 41.51499576065242,...",12900.0,74700.0,5200,2013-12,HALO INVESTMENTS LLC,"1626 COVENTRY RD, CLEVELAND HEIGHTS, OH",...,R,0.0,C-2000 INC,2013-12-12T15:45:00.000Z,2016.0,0.0,3569.0,7500.0,0.0,NaN
2,68112053,68112053,0.0,POLYGON ((-81.56557165053658 41.53004719302985...,2700.0,2700.0,5000,2007-11,"NATIONAL CITY BANK, TRUSTEE","0 OAKHILL RD, CLEVELAND HEIGHTS, OH",...,R,0.0,Gibian Germaine L,2007-11-27T11:51:00.000Z,2016.0,0.0,0.0,2610.0,1.0,NaN
3,68401001,68401001,63600.0,POLYGON ((-81.58082800580637 41.51538821948967...,9300.0,72900.0,5100,2008-02,1612 Coventry LLC,"1612 COVENTRY RD, CLEVELAND HEIGHTS, OH",...,R,70000.0,1612 Coventry LLC,2008-02-15T00:00:00.000Z,2016.0,0.0,1402.0,3811.0,0.0,NaN
4,68221049,68221049,85700.0,POLYGON ((-81.53542516876514 41.53305654011595...,19300.0,105000.0,5100,1990-11,"GHOLSON, LLOYD W.","1025 RENFIELD RD, CLEVELAND HEIGHTS, OH",...,R,73300.0,Gary D Geldart,1990-11-27T00:00:00.000Z,2016.0,0.0,2379.0,9000.0,0.0,NaN

### Police Dispatch

In [14]:
police['address1'] = map(lambda x: x.upper(), police['address1'])
police['address1'] = police['address1'] + ', CLEVELAND HEIGHTS, OH'
police.head()

,PD_Count,address1,geometry
0,2,"3186 EUCLID HEIGHTS BLVD, CLEVELAND HEIGHTS, OH",POINT (-81.56568559999999 41.51042340000001)
1,2,"4075 MONTICELLO BLVD, CLEVELAND HEIGHTS, OH",POINT (-81.53357629999999 41.536151)
2,1,"1028 GREYTON RD, CLEVELAND HEIGHTS, OH",POINT (-81.5594579 41.5321315)
3,1,"1673 EDDINGTON RD, CLEVELAND HEIGHTS, OH",POINT (-81.5765768 41.513896)
4,1,"30 SEVERANCE CIRCLE, CLEVELAND HEIGHTS, OH",POINT (-81.5551966 41.5157586)

In [15]:
len(featureSpace)

16462

In [16]:
featureSpace = gpd.sjoin(featureSpace, police, how='left', op='intersects')

In [19]:
featureSpace.drop(['address1', 'index_right'], axis=1, inplace=True)
len(featureSpace)

17528

In [20]:
counts = featureSpace[['parcel_add','PARCELPIN', 'PD_Count']]
counts = counts.groupby(['parcel_add', 'PARCELPIN']).sum()
counts.reset_index(inplace=True)
counts.head()

  parcel_add PARCELPIN  PD_Count
0             11724999       NaN
1             38622009      11.0
2             68104004       NaN
3             68105022       NaN
4             68105084       NaN

In [21]:
len(counts)

16462

In [22]:
featureSpace.drop(['PD_Count'], axis=1, inplace=True)
featureSpace.drop_duplicates(['parcel_add', 'PARCELPIN'], inplace=True)
len(featureSpace)

16462

In [23]:
featureSpace['PD_count'] = counts.PD_Count
featureSpace.head()

,PARCELPIN,PARCEL_ID,building_t,geometry,gross_tax,land_tax,land_use,last_sale,owner,parcel_add,...,sale_amoun,seller,sold_date,tax_year,tot_com_sq,tot_res_sq,total_sqft,vacant,FC_count,PD_count
0,68104092,68104092,60400.0,POLYGON ((-81.56532396435152 41.53334577574375...,11400.0,71800.0,5100,2009-05,"HUGHES, GERALYNNE","2090 TAYLOR RD, CLEVELAND HEIGHTS, OH",...,0.0,FEDERAL HOME LOAN MORTGAGE CORPORATION,2009-05-05T11:27:00.000Z,2016.0,0.0,1274.0,4745.0,0.0,2.0,NaN
1,68401004,68401004,61800.0,"POLYGON ((-81.5806817475017 41.51499576065242,...",12900.0,74700.0,5200,2013-12,HALO INVESTMENTS LLC,"1626 COVENTRY RD, CLEVELAND HEIGHTS, OH",...,0.0,C-2000 INC,2013-12-12T15:45:00.000Z,2016.0,0.0,3569.0,7500.0,0.0,NaN,11.0
2,68112053,68112053,0.0,POLYGON ((-81.56557165053658 41.53004719302985...,2700.0,2700.0,5000,2007-11,"NATIONAL CITY BANK, TRUSTEE","0 OAKHILL RD, CLEVELAND HEIGHTS, OH",...,0.0,Gibian Germaine L,2007-11-27T11:51:00.000Z,2016.0,0.0,0.0,2610.0,1.0,NaN,NaN
3,68401001,68401001,63600.0,POLYGON ((-81.58082800580637 41.51538821948967...,9300.0,72900.0,5100,2008-02,1612 Coventry LLC,"1612 COVENTRY RD, CLEVELAND HEIGHTS, OH",...,70000.0,1612 Coventry LLC,2008-02-15T00:00:00.000Z,2016.0,0.0,1402.0,3811.0,0.0,NaN,NaN
4,68221049,68221049,85700.0,POLYGON ((-81.53542516876514 41.53305654011595...,19300.0,105000.0,5100,1990-11,"GHOLSON, LLOYD W.","1025 RENFIELD RD, CLEVELAND HEIGHTS, OH",...,73300.0,Gary D Geldart,1990-11-27T00:00:00.000Z,2016.0,0.0,2379.0,9000.0,0.0,NaN,NaN

### Complaints

In [24]:
addresses = []
for ix,row in complaints.iterrows():
    address = row['Address'].split(',')[0] + ', Cleveland Heights, OH'
    addresses.append(address)

complaints.Address = addresses
complaints['Address'] = map(lambda x: x.upper(), complaints['Address'])
complaints.head()

,Address,Complaint_,geometry
0,"1 MONTICELLO BLVD, CLEVELAND HEIGHTS, OH",2,POINT (-81.57245970000001 41.5157082)
1,"1 MONTICELLO BLVD, CLEVELAND HEIGHTS, OH",2,POINT (-81.57245970000001 41.5157082)
2,"1005 ENGLEWOOD ROAD, CLEVELAND HEIGHTS, OH",1,POINT (-81.54113149999999 41.5327364)
3,"1005 PEMBROOK RD, CLEVELAND HEIGHTS, OH",1,POINT (-81.55195999999999 41.5331628)
4,"1005 PEMBROOK ROAD, CLEVELAND HEIGHTS, OH",1,POINT (-81.55195999999999 41.5331628)

In [25]:
len(featureSpace)

16462

In [26]:
featureSpace = gpd.sjoin(featureSpace, complaints, how='left', op='intersects')
featureSpace.drop(['Address', 'index_right'], axis=1, inplace=True)
featureSpace.drop_duplicates
len(featureSpace)

17032

In [28]:
counts = featureSpace2[['parcel_add','PARCELPIN', 'Complaint_']]
counts = counts.groupby(['parcel_add', 'PARCELPIN']).sum()
counts.reset_index(inplace=True)
counts.head()

  parcel_add PARCELPIN  Complaint_
0             11724999         NaN
1             38622009         NaN
2             68104004         NaN
3             68105022         NaN
4             68105084         NaN

In [29]:
len(counts)

16462

In [31]:
featureSpace.drop(['Complaint_'], axis=1, inplace=True)
featureSpace.drop_duplicates(['parcel_add', 'PARCELPIN'], inplace=True)
len(featureSpace)

16462

In [33]:
featureSpace['Comp_count'] = counts.Complaint_
featureSpace.head()

,PARCELPIN,PARCEL_ID,building_t,geometry,gross_tax,land_tax,land_use,last_sale,owner,parcel_add,...,sold_date,tax_year,tot_com_sq,tot_res_sq,total_sqft,vacant,FC_count,PD_count,index_right,Comp_count
0,68104092,68104092,60400.0,POLYGON ((-81.56532396435152 41.53334577574375...,11400.0,71800.0,5100,2009-05,"HUGHES, GERALYNNE","2090 TAYLOR RD, CLEVELAND HEIGHTS, OH",...,2009-05-05T11:27:00.000Z,2016.0,0.0,1274.0,4745.0,0.0,2.0,NaN,NaN,NaN
1,68401004,68401004,61800.0,"POLYGON ((-81.5806817475017 41.51499576065242,...",12900.0,74700.0,5200,2013-12,HALO INVESTMENTS LLC,"1626 COVENTRY RD, CLEVELAND HEIGHTS, OH",...,2013-12-12T15:45:00.000Z,2016.0,0.0,3569.0,7500.0,0.0,NaN,11.0,NaN,NaN
2,68112053,68112053,0.0,POLYGON ((-81.56557165053658 41.53004719302985...,2700.0,2700.0,5000,2007-11,"NATIONAL CITY BANK, TRUSTEE","0 OAKHILL RD, CLEVELAND HEIGHTS, OH",...,2007-11-27T11:51:00.000Z,2016.0,0.0,0.0,2610.0,1.0,NaN,NaN,NaN,NaN
3,68401001,68401001,63600.0,POLYGON ((-81.58082800580637 41.51538821948967...,9300.0,72900.0,5100,2008-02,1612 Coventry LLC,"1612 COVENTRY RD, CLEVELAND HEIGHTS, OH",...,2008-02-15T00:00:00.000Z,2016.0,0.0,1402.0,3811.0,0.0,NaN,NaN,NaN,NaN
4,68221049,68221049,85700.0,POLYGON ((-81.53542516876514 41.53305654011595...,19300.0,105000.0,5100,1990-11,"GHOLSON, LLOYD W.","1025 RENFIELD RD, CLEVELAND HEIGHTS, OH",...,1990-11-27T00:00:00.000Z,2016.0,0.0,2379.0,9000.0,0.0,NaN,NaN,NaN,NaN

In [34]:
len(complaints)

1885

In [35]:
len(police)

9374

In [36]:
len(foreclosures)

91291

In [37]:
featureSpace.describe()

,building_t,gross_tax,land_tax,sale_amoun,tax_year,tot_com_sq,tot_res_sq,total_sqft,vacant,FC_count,PD_count
count,1.646200e+04,1.646200e+04,1.646200e+04,1.646200e+04,16462.000000,1.646200e+04,16462.000000,1.646200e+04,16462.000000,3521.000000,7334.000000
mean,1.211921e+05,3.336196e+04,1.545540e+05,8.926555e+04,1954.890536,8.805517e+02,1746.304823,1.424369e+04,0.045316,1.394774,5.293973
std,4.083673e+05,9.199397e+04,4.724494e+05,3.275960e+05,345.643705,1.248619e+04,1091.838320,1.166198e+05,0.208004,0.692751,16.895691
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,1.000000,0.000000
25%,5.830000e+04,1.670000e+04,7.580000e+04,0.000000e+00,2016.000000,0.000000e+00,1344.000000,5.400000e+03,0.000000,1.000000,1.000000
50%,7.960000e+04,2.110000e+04,1.008000e+05,3.300000e+04,2016.000000,0.000000e+00,1608.500000,7.200000e+03,0.000000,1.000000,2.000000
75%,1.157000e+05,3.240000e+04,1.478000e+05,1.070000e+05,2016.000000,0.000000e+00,2110.000000,9.611500e+03,0.000000,2.000000,5.000000
max,3.001520e+07,5.095500e+06,3.338940e+07,1.160000e+07,2016.000000,1.003254e+06,25110.000000,8.102455e+06,1.000000,6.000000,927.000000

In [121]:
featureSpace_shp = gpd.GeoDataFrame(featureSpace, crs = {'init': 'epsg:4326'})
featureSpace_shp.crs

{'init': 'epsg:4326'}

In [122]:
featureSpace_shp.to_file('../Data/processed/featureSpace.shp')