# GeoCode New Bedford Addresses
#### Daniel Fay

In [1]:
# Import necessary packages
import pandas as pd
import geopandas as gpd
import numpy as np
from geopy import geocoders
from shapely.geometry import Point

In [3]:
# Import data
geoCodes = gpd.read_file('../Data/New_Bedford_CodeViolation_Shapefiles/NB_gecode.shp')
fireDispatch = pd.read_csv('../Data/Fire_Dispatch.csv', index_col=0)

In [4]:
geoCodes.head()

          address                               geometry   latitude  longitude
0  483 Kempton St   POINT (-70.937732 41.63681500000001)  41.636815 -70.937732
1  528 Kempton St         POINT (-70.9391925 41.6364648)  41.636465 -70.939193
2  529 Kempton St           POINT (-70.939211 41.636705)  41.636705 -70.939211
3  550 Kempton St           POINT (-70.939685 41.636314)  41.636314 -70.939685
4  554 Kempton St  POINT (-70.93986020000001 41.6363536)  41.636354 -70.939860

In [5]:
len(geoCodes)

4706

In [6]:
len(geoCodes.address.unique())

4706

In [7]:
fireDispatch.head()

,CallTime,ReasonText,ClosedTime,DispatchDuration,address
0,2016-01-01 01:34:00,Fire - Auto Accident,2016-01-01 02:01:00,0 days 00:27:00.000000000,88 Arlington St
1,2016-01-01 01:55:00,Fire - Medical,2016-01-01 02:09:00,0 days 00:14:00.000000000,214 Sawyer St
2,2016-01-01 01:57:00,Fire - Medical,2016-01-01 02:13:00,0 days 00:16:00.000000000,8 Granfield St
3,2016-01-01 02:07:00,Fire - Medical,2016-01-01 02:28:00,0 days 00:21:00.000000000,34 Union St
4,2016-01-01 02:16:00,Fire - Medical,2016-01-01 02:45:00,0 days 00:29:00.000000000,335 Coggeshall St

In [21]:
addresses = fireDispatch.loc[~fireDispatch['address'].isin(geoCodes.address.unique())]
addresses = addresses[['address']]

In [20]:
len(addresses.address.unique())

5844

In [35]:
# Create list of x,y for first 1000 addresses
NB_coordinates = []
NB_address = []
g = geocoders.GoogleV3(api_key='AIzaSyCdaBngexi7emxW7qucRnUBgF-KeGnyh00')
for address in addresses.address.unique()[2247:2500]:
    inputAddress = address + ', New Bedford, MA' 
    location = g.geocode(inputAddress, timeout=10)
    NB_coordinates.append((location.latitude, location.longitude))
    NB_address.append(address)

GeocoderQuotaExceeded: The given key has gone over the requests limit in the 24 hour period or has submitted too many requests in too short a period of time.

In [36]:
print (len(NB_coordinates))
print (len(NB_address))

207
207

In [37]:
NB_geocode = pd.DataFrame({'coordinate':NB_coordinates, 'address':NB_address})
NB_geocode.head()

            address                 coordinate
0  1821 Purchase St   (41.649992, -70.9291093)
1       19 Sowle St  (41.6777679, -70.9258767)
2       114 Nash Rd  (41.6668425, -70.9258606)
3  32 Holly Tree Ln   (41.711771, -70.9451578)
4    90 Sagamore St  (41.6175814, -70.9351641)

In [38]:
NB_geocode.to_csv('NB_geocode_2247_2454.csv')

In [31]:
NB_geocode = pd.read_csv('NB_geocode.csv')
NB_geocode_1395 = pd.read_csv('NB_geocode_1395.csv')
NB_geocode_1395_2000 = pd.read_csv('NB_geocode_1395_2000.csv')
NB_geocode_2000_2247 = pd.read_csv('NB_geocode_2000_2247.csv')
NB_geocode_2247_2454 = pd.read_csv('NB_geocode_2000_2247.csv')
NB_geocode_2454_5844 = pd.read_csv('FDNB_geocode_2455_5844.csv')

In [32]:
len(NB_geocode)

4706

In [33]:
NB_geocode = NB_geocode.append(NB_geocode_1395)
NB_geocode = NB_geocode.append(NB_geocode_1395_2000)
NB_geocode = NB_geocode.append(NB_geocode_2000_2247)
NB_geocode = NB_geocode.append(NB_geocode_2247_2454)
NB_geocode = NB_geocode.append(NB_geocode_2454_5844)

In [34]:
len(NB_geocode)

10577

In [35]:

NB_geocode.drop(['Unnamed: 0', 'coordinate'], axis=1, inplace=True)
NB_geocode.head()

          address   latitude  longitude
0  483 Kempton St  41.636815 -70.937732
1  528 Kempton St  41.636465 -70.939193
2  529 Kempton St  41.636705 -70.939211
3  550 Kempton St  41.636314 -70.939685
4  554 Kempton St  41.636354 -70.939860

In [36]:
NB_geocode.to_csv('../Data/NB_geocode.csv')

In [35]:
NB_geocode = pd.read_csv('../Data/NB_geocode.csv', index_col=0)

In [36]:
len(NB_geocode)

10577

In [37]:
NB_geocode.head()

          address   latitude  longitude
0  483 Kempton St  41.636815 -70.937732
1  528 Kempton St  41.636465 -70.939193
2  529 Kempton St  41.636705 -70.939211
3  550 Kempton St  41.636314 -70.939685
4  554 Kempton St  41.636354 -70.939860

In [38]:
NB_geocode_pd = pd.read_csv('../Data/NBPD_geocodes2.csv', index_col=0)

In [39]:
NB_geocode_pd.head()

,address,coordinate
0,393 S Front St New Bedf...,"(41.6214342, -70.9196667)"
1,95 Brook St New Bedf...,"(41.66028499999999, -70.932615)"
2,2136 Acushnet Ave New Bedf...,"(41.6804513, -70.9221044)"
3,308 Raymond St New Bedf...,"(41.6859839, -70.9325798)"
4,531 Wood St New Bedf...,"(41.6790397, -70.9356025)"

In [40]:
NB_geocode_pd.drop_duplicates(inplace=True)
len(NB_geocode_pd)

11286

In [41]:
NB_geocode = NB_geocode.append(NB_geocode_pd)
len(NB_geocode)

21863

In [42]:
NB_geocode.drop_duplicates(inplace=True)
len(NB_geocode)

21616

In [44]:
NB_geocode.to_csv('../Data/NB_geocode.csv')

In [45]:
geometry = gpd.GeoSeries([Point(xy) for xy in zip(NB_geocode.longitude, NB_geocode.latitude)])
NB_geocode_shape = gpd.GeoDataFrame(NB_geocode, geometry=geometry)
NB_geocode_shape.crs = {'init' :'epsg:4326'}
NB_geocode_shape.head()

,address,coordinate,latitude,longitude,geometry
0,483 Kempton St,NaN,41.636815,-70.937732,POINT (-70.937732 41.63681500000001)
1,528 Kempton St,NaN,41.636465,-70.939193,POINT (-70.9391925 41.6364648)
2,529 Kempton St,NaN,41.636705,-70.939211,POINT (-70.939211 41.636705)
3,550 Kempton St,NaN,41.636314,-70.939685,POINT (-70.939685 41.636314)
4,554 Kempton St,NaN,41.636354,-70.939860,POINT (-70.93986020000001 41.6363536)

In [47]:
NB_geocode_shape.to_file('../Data/New_Bedford_CodeViolation_Shapefiles/NB_geocode.shp')

AttributeError: 'float' object has no attribute '__geo_interface__'

In [48]:
nb_test = gpd.read_file('../Data/New_Bedford_CodeViolation_Shapefiles/NB_geocode.shp')

In [49]:
len(nb_test)

19204