In [2]:
import pandas as pd
import geopandas as gpd

In [20]:
owners = gpd.read_file('../Data/AreaParcelDataView/AreaParcelDataView.shp')

In [21]:
owners = owners.loc[owners['PAR_CITY'] == 'CLEVELAND HEIGHTS']
owners.head()

,CAMA_PAREN,CERTIFIE10,CERTIFIE11,CERTIFIED_,CERTIFIE_1,CERTIFIE_2,CERTIFIE_3,CERTIFIE_4,CERTIFIE_5,CERTIFIE_6,...,TOTAL_COM_,TOTAL_LEGA,TOTAL_RES_,TOTAL_RE_1,TOTAL_SQUA,TRANSFER_D,WATER,ZONING_COD,ZONING_USE,geometry
45,None,0.0,0.0,5100,11400.0,60400.0,71800.0,None,0.0,0.0,...,0.0,65.0,1274.0,9.0,4745.0,2009-05-05T11:27:00.000Z,MUN,A,1F-5,POLYGON ((-81.56532396435148 41.53334577574377...
65,None,0.0,0.0,5200,12900.0,61800.0,74700.0,None,0.0,0.0,...,0.0,50.0,3569.0,14.0,7500.0,2013-12-12T15:45:00.000Z,MUN,B,2F,POLYGON ((-81.58068174750173 41.51499576065243...
67,None,0.0,0.0,5000,2700.0,0.0,2700.0,None,0.0,0.0,...,0.0,21.4,0.0,0.0,2610.0,2007-11-27T11:51:00.000Z,MUN,A,1F-5,POLYGON ((-81.56557165053655 41.53004719302985...
73,None,0.0,0.0,5100,9300.0,63600.0,72900.0,None,0.0,0.0,...,0.0,44.3,1402.0,6.0,3811.0,2008-02-15T00:00:00.000Z,MUN,B,2F,"POLYGON ((-81.5808280058064 41.51538821948963,..."
93,None,0.0,0.0,5100,19300.0,85700.0,105000.0,None,0.0,0.0,...,0.0,60.0,2379.0,8.0,9000.0,1990-11-27T00:00:00.000Z,MUN,A,1F-5,POLYGON ((-81.53542516876516 41.53305654011591...

In [22]:
owners = owners[['PARCEL_OWN', 'PAR_ADDR_A', 'PARCELPIN', 'geometry']]
owners.drop_duplicates('PAR_ADDR_A', inplace=True)
owners.head()

,PARCEL_OWN,PAR_ADDR_A,PARCELPIN,geometry
45,"HUGHES, GERALYNNE","2090 TAYLOR RD, CLEVELAND HEIGHTS, OH, 44112",68104092,POLYGON ((-81.56532396435148 41.53334577574377...
65,HALO INVESTMENTS LLC,"1626 COVENTRY RD, CLEVELAND HEIGHTS, OH, 44118",68401004,POLYGON ((-81.58068174750173 41.51499576065243...
67,"NATIONAL CITY BANK, TRUSTEE","0 OAKHILL RD, CLEVELAND HEIGHTS, OH, 44112",68112053,POLYGON ((-81.56557165053655 41.53004719302985...
73,1612 Coventry LLC,"1612 COVENTRY RD, CLEVELAND HEIGHTS, OH, 44118",68401001,"POLYGON ((-81.5808280058064 41.51538821948963,..."
93,"GHOLSON, LLOYD W.","1025 RENFIELD RD, CLEVELAND HEIGHTS, OH, 44121",68221049,POLYGON ((-81.53542516876516 41.53305654011591...

In [23]:
owners.to_file('../Data/processed/shapefiles/owners.shp')

In [25]:
owners.to_csv('../Data/processed/owners.csv')