In [1]:
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point
import numpy as np

In [2]:
complaints = pd.read_excel('../Data/Access_CH.xlsx')
geocodes = pd.read_excel('../Data/AccessCH_geocodes.xlsx')

In [3]:
len(complaints)

1938

In [4]:
complaints_gc = pd.merge(complaints, geocodes, how='left', left_on='Address', right_on='address')
complaints_gc.drop_duplicates(['Description', 'Address', 'Date Created'], inplace=True)
complaints_gc.drop('address', axis=1, inplace=True)
len(complaints_gc)

1938

In [5]:
complaints_gc.head()

,Id,Title,Request Type,Description,Department,Assigned to,Address,Date Created,Comments,coordinate
0,389186,Pothole,Pothole,Huge pothole cluster in Saint James just to t...,Public Works,Howard Bucklan,"Roxboro Middle School, Cleveland Heights, OH, ...",2014-06-12 16:01:27,NaN,"(41.4941611, -81.59005859999999)"
1,390004,Graffiti,Graffiti,graffiti on bricks at peace arch on Coventry,Public Works,Howard Bucklan,"1925 Coventry Road, Cleveland Heights, OH 4411...",2014-06-13 14:02:08,NaN,"(41.5074426, -81.5797181)"
2,390538,Other,Other,Time line for outdoor activities and noise,Community Relations,Community Relations,"913-915 Helmsdale Road, Cleveland Heights, OH ...",2014-06-14 14:09:34,NaN,"(41.53517, -81.55994)"
3,390773,Property Condition - Residential,Property Condition - Residential,There are piles of old wood and trash piled ag...,Housing,Housing Inspections,"14298 Superior Rd, Cleveland Heights, OH, 44118",2014-06-15 12:53:23,Steve Barker on 2014-06-16 12:38:24 -0400 comm...,"(41.5119889, -81.57234489999999)"
4,391235,Graffiti,Graffiti,Graffiti on mailbox at N/W corner mailbox,Public Works,Howard Bucklan,"2697 Euclid Heights Blvd, Cleveland Heights, O...",2014-06-16 10:38:24,Howard Bucklan on 2014-06-16 11:31:49 -0400 co...,"(41.5082401, -81.58370719999999)"

In [6]:
complaints_count = complaints_gc.groupby('Address').count()
complaints_count = complaints_count[['Description']]
complaints_count.columns = ['Complaint_count']
complaints_count.to_csv('../Data/processed/complaint_count.csv', encoding='utf-8')

In [7]:
complaints_count.reset_index(inplace=True)
complaints_count = pd.merge(complaints_count, geocodes, how='left', left_on='Address', right_on='address')
complaints_count.drop('address', axis=1, inplace=True)
complaints_count.dropna(subset=['coordinate'], inplace=True)
complaints_count['latitude'] = [float(str(row['coordinate']).split(',')[0][1:]) for ix,row in complaints_count.iterrows()]
complaints_count['longitude'] = [float(str(row['coordinate']).split(',')[1][1:-1]) for ix,row in complaints_count.iterrows()]
complaints_count.head()

,Address,Complaint_count,coordinate,latitude,longitude
0,"1 Monticello Blvd,Cleveland Heights, OH 44118",2,"(41.5157082, -81.57245970000001)",41.515708,-81.572460
1,"1 Monticello Blvd,Cleveland Heights, OH 44118",2,"(41.5157082, -81.57245970000001)",41.515708,-81.572460
2,"1005 Englewood Road, Cleveland Heights, OH 441...",1,"(41.5327364, -81.54113149999999)",41.532736,-81.541131
3,"1005 Pembrook Rd, Cleveland Heights, OH 44121,...",1,"(41.5331628, -81.55196)",41.533163,-81.551960
4,"1005 Pembrook Road, Cleveland Heights, OH 4412...",1,"(41.5331628, -81.55196)",41.533163,-81.551960

In [28]:
geometry = gpd.GeoSeries([Point(xy) for xy in zip(complaints_count.longitude, complaints_count.latitude)])
complaints_count_shape = gpd.GeoDataFrame(complaints_count, geometry=geometry)
complaints_count_shape.crs = {'init' :'epsg:4326'}
complaints_count_shape.dropna(subset=['geometry'], inplace=True)
complaints_count_shape.drop(['coordinate', 'latitude', 'longitude'], axis=1, inplace=True)
complaints_count_shape.head()

,Address,Complaint_count,geometry
0,"1 Monticello Blvd,Cleveland Heights, OH 44118",2,POINT (-81.57245970000001 41.5157082)
1,"1 Monticello Blvd,Cleveland Heights, OH 44118",2,POINT (-81.57245970000001 41.5157082)
2,"1005 Englewood Road, Cleveland Heights, OH 441...",1,POINT (-81.54113149999999 41.5327364)
3,"1005 Pembrook Rd, Cleveland Heights, OH 44121,...",1,POINT (-81.55195999999999 41.5331628)
4,"1005 Pembrook Road, Cleveland Heights, OH 4412...",1,POINT (-81.55195999999999 41.5331628)

In [29]:
complaints_count_shape.to_file('../Data/processed/shapefiles/complaint_count.shp')